header{
    margin: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.hamburger{
    padding: 10px;
}
nav{
    display: none;
}
/* ------- TABLET ---------*/

@media(min-width: 768px){
    button.hamburger{
        padding: 10px;
        display: none;
    }
    nav{
        display: initial;
    }
    nav ul{
        display: flex;
        list-style-type: none;
    }
    nav li{
        margin-left: 20px;
    }

}

/* ------- TABLET ---------*/