header{
    margin: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.hamburger{
    padding: 10px;
}
nav{
    display: none;
}
/* ------- TABLET ---------*/

@media(min-width: 768px){
    header{
        justify-content: start;
        margin: 32px 97px;
    }
    header img{
        margin-right: 78.8px;
    }
    button.hamburger{
        padding: 10px;
        display: none;
    }
    nav{
        display: initial;
    }
    nav ul{
        display: flex;
        list-style-type: none;
    }
    nav li{
        margin-right: 69px;
        opacity: .6;
        font-size: 14px;
    }

}

/* ------- TABLET ---------*/

/* ------- DESKTOP ---------*/

@media(min-width: 1200px){
    header{
        margin: 32px 164px;
    }

}

/* ------- DESKTOP ---------*/

