.hero{
    height: 560px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    &__content{
        padding: 110px 32px;
    }

    h1{
        margin-bottom: 5px;
    }
    p{
        color: white;
        line-height: 25px;
        margin-bottom: 57px;
        opacity: .8;
    }
    &__content-selector{
        display: none;
    }
    &__content-selector div{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: white;
        color: $darkGrey;
        border-bottom: 1px solid #c8ccd871;
    }
    &__content-selector div:not(:last-child){
        border-right: 1px solid #c8ccd875;
    }
    &__content-selector div:hover{
        background-color: $lightGrey;
    }
    &__content-selector div.active{
        background-color: $veryDarkBlue;
        color: white;
    }

    &.one-active{
        background-image: linear-gradient(#11111186, #272727a9) ,url('../images/home/mobile/image-hero-paramour.jpg');
    }
    &.two-active{
        background-image: linear-gradient(#11111186, #272727a9) ,url('../images/home/mobile/image-hero-seraph.jpg');
    }
    &.three-active{
        background-image: linear-gradient(#11111186, #272727a9) ,url('../images/home/mobile/image-hero-federal.jpg');
    }
    &.four-active{
        background-image: linear-gradient(#11111186, #272727a9) ,url('../images/home/mobile/image-hero-trinity.jpg');
    }
  
}

/* ------- TABLET ---------*/

@media(min-width: 768px){
    .hero{
        width: initial;
        background-size: cover;
        margin: 0 97px;
        &__content{
            padding: 110px 56px;
        }
        &.one-active{
            background-image: linear-gradient(#11111186, #272727a9) ,url('../images/home/tablet/image-hero-paramour.jpg');
        }
        &.two-active{
            background-image: linear-gradient(#11111186, #272727a9) ,url('../images/home/tablet/image-hero-seraph.jpg');
        }
        &.three-active{
            background-image: linear-gradient(#11111186, #272727a9) ,url('../images/home/tablet/image-hero-federal.jpg');
        }
        &.four-active{
            background-image: linear-gradient(#11111186, #272727a9) ,url('../images/home/tablet/image-hero-trinity.jpg');
        }
    }
}

/* ------- TABLET ---------*/

/* ------- DESKTOP ---------*/

@media(min-width: 1200px){
    .hero{
        background-size: cover;
        margin: 0 165px;
        &__content{
            padding: 180px 376px 180px 190px;
        }
        &.one-active{
            background: linear-gradient(#11111186, #272727a9) ,url('../images/home/desktop/image-hero-paramour.jpg');
        }
        &.two-active{
            background: linear-gradient(#11111186, #272727a9) ,url('../images/home/desktop/image-hero-seraph.jpg');
        }
        &.three-active{
            background: linear-gradient(#11111186, #272727a9) ,url('../images/home/desktop/image-hero-federal.jpg');
        }
        &.four-active{
            background: linear-gradient(#11111186, #272727a9) ,url('../images/home/desktop/image-hero-trinity.jpg');
        }
        &__content-selector{
           position: absolute;
           bottom: 0;
           left: 0;
           width: 320px;
           height: 80px;
           display: grid;
           grid-template-columns: repeat(4, 1fr);
           transform: translateX(-25%);
        }

    }

}

/* ------- DESKTOP ---------*/
