.welcome{
    margin: 72px 32px 96px;
    position: relative;
    h1{
        padding-top: 67px;
        padding-bottom: 29px;
    }
    h1.large{
        display: none;
    }
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 1px;
        width: 65px;
        background-color: $lightGrey;
        @media(min-width: 768px){
            display: none;
        }
    }
}

// ----- Tablet ------
@media(min-width: 768px){
    .welcome{
        margin: 72px 97px 96px;
        h1.large{
            display: initial;
        }
    }
   
}

// ----- Tablet ------

// ----- Desktop ------
@media(min-width: 768px){
    .welcome{
        margin: 72px 165px 96px 165px;
        &__container{
            display: flex;
            position: relative;
            justify-content: flex-end;
            border: 1px solid red;
        }
        &__text{
            width: 446px;
            height: 493px;
            margin-left: 189px;
           
        }
        &__image{
            width: 350px;
            height: 568px;
            background-color: grey;
        }
        h1.large{
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
        }
       
    }
   
   
}

// ----- Desktop ------