
$veryDarkBlue: #1B1D23;
$darkGrey: #60636D;
$mediumGrey: #7D828F;
$lightGrey: #C8CCD8;
$veryLightGrey: #EEEFF4;
$red: #DF5656;

$darkOverlay: linear-gradient(to bottom, rgba(7, 7, 7, 0.486),rgba(10, 10, 10, 0.5));